<div class="modal modals-md"  tabindex="2" id="events-list-modal"  data-controller="EventListController" style="overflow: hidden;">  
	<div class="modal-dialog"  style="min-width:100%;margin-top:0px;">
		<div class="modal-content" style="height:100vh;max-height:100vh;">
	      <!-- Modal Header -->
		  <div class="modal-header basic">
			<h4 class="modal-title">EVENT LIST</h4>
			<button type="button" class="close" data-event="EventListController.click.onClose">&times;</button>
		  </div>
		  <!-- Modal body -->
		  <div class="modal-body" style="width:100%;">
			
			<div style="width:100%;float:left;height:100%;overflow:none;">
				<div style="width:100%;height:10%;">
					
					<div style="width:25%;float:left;padding-left:.33%" >
						DATE ISSUED <br>
						<input type="date" class="form-control" data-valuectrl="date" disabled/>
					</div>
					<div style="width:25%;float:left;padding-left:.33%" >
						TYPE <br>
						<input type="text" class="form-control" data-event="EventListController.change.changebox" data-valuectrl="type" disabled/>
					</div>
					<div style="width:8%;float:left;padding-left:.33%" >
						<br>
						<button class="btn btn-success" data-event="EventListController.click.newEventModal">New Event</button>
					</div>
					<div style="clear:both"></div>
				</div>
				
				<div class="events-table-container" style="width:100%;height:100%;">
					<div id="dt-table" style="height:100%;"></div>
				</div>
				
			</div>
			<div style="clear:both"></div>
			
		  </div>
		  <!-- Modal footer -->
		  <div class="modal-footer">
			<button data-event="EventListController.click.save" class="btn btn-danger"><i class="icon-delete" ></i> Close</button>
		  </div>
		</div>
	</div>
</div>